doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="google-signin-client_id" content=googleClientId)
    title= title
  body
    if isSignedIn
      p Signed in
    else
      p Signed out

    div(class="g-signin2" data-onsuccess="onSignIn")
      Sign in

    p= auth

    if subscriptions.length
      each subscription in subscriptions
        p= subscription.id
    else
      p No subscriptions

    script(src="https://apis.google.com/js/platform.js" async defer)

    script.
      (() => {
        const headers = new Headers();

        headers.set('Content-Type', 'application/json');

        window.onSignIn = (response) => {
          fetch('/auth/google', {
            method: 'POST',
            body: JSON.stringify(response.getAuthResponse()),
            credentials: 'same-origin',
            headers,
          });
        }
      })();
